node_modules/

/client/build

/settings
fire.js
training-planner-bafd0-firebase-adminsdk-em7w2-9e3ab2621b.*


config/default.json
config/production.json

.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

.env.local

/src/components/auth/PrivacyPolicy.js*

npm-debug.log*
yarn-debug.log*
yarn-error.log*