node_modules/


/settings
/client/build/fire.js
/client/build/request.js
/client/build/training-planner-bafd0*
/client/build/init-fcm.js

pushVariable.js
firebase-messaging.js

.DS_Store
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local



/src/components/auth/PrivacyPolicy.js*

npm-debug.log*
yarn-debug.log*
yarn-error.log*