
<html>
    <head>
        <style>
        </style>
    </head>
    <body style="text-align:center;font-family:Arial, Helvetica, sans-serif;font-size:large">
        <p>Hi {{name}},</p>
        <p>Du willst dein Passwort zurücksetzen, klick auf den Link</p>
        <p>Du bekommst dann eine Mail mit deinem neuen Passwort.</p>
        {{!-- <p> Bitte gib ein neues Passwort ein:</p>
        <input name="newPassword" id="newPassword"/> --}}
        <a href='http://{{link}}' >Passwort zurücksetzen</a>
    </body>
</html>