
<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>Du willst dein Passwort zurücksetzen, klick auf den Link</p>
        <p> Bitte gib ein neues Passwort ein:</p>
        <input name="newPassword" id="newPassword"/>
        <a href='http://{{link}}Felix_0309' >Passwort zurücksetzen</a>
    </body>
</html>